<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>item_requested</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous'>
</head>

<body>
    <%- include('partials/navbar') %>

        <main class="my-3 main_page_item">
            <div class="container-fluid ">
                <div class="upper d-flex align-items-center  ">
                    <span class="upper_span_items mx-5">Donations</span>
                    <div class="d-flex search-bar bg-light flex-grow-1 align-items-center">
                        <form method="post" action="/api/items/search" class="form-inline my-2 flex-grow-1  my-lg-0">
                            <input name="search" class="form-control d-inline   bg-light w-100" id="search_bar" type="search"
                                placeholder="Search" aria-label="Search">
                        </form>
                        <label for="search_bar"
                            style="width:20px;height:20px;margin-bottom:7px;margin-right:10px; cursor: pointer; "> <svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                            </svg> </label>
                    </div>
                    <% if (user_type==='Donator' ) { %>
                        <div class="add_donations_button" style="margin-left: 20px;">
                            <a href="/upload">
                                <button class="py-2" id="add_items">Add Items</button>
                            </a>
                        </div>
                        <% } %>

                </div>
                <div class="lower mt-4">
                    <% if (user_type==='Donator' ) { %>
                        <% data.forEach(function(item) { %>
                            <a href="<%= item.pickup_status === 'Requested' ? '/request/' + item._id : (item.pickup_status==='Confirmation Time'? '/confirmTime/' + item._id:'#') %>"
                                style="text-decoration: none;color:inherit;">
                                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                                    <div class="item-img">
                                        <img src="/uploads/<%= item.image %>" alt="Item">
                                    </div>
                                    <div
                                        class="item_name mx-2 text-center h-100 d-flex flex-column align-items-center justify-content-between">
                                        <h5 class="mt-0">
                                            <%= item.item_type %>
                                        </h5>
                                        <div class="item_name_text  mt-2">
                                            <p>
                                                <%= item.item_name %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item_donation_status text-center">
                                        <h5>Donation Status</h5>
                                        <div class="item_donation_status_text  mt-2">
                                            <p>
                                                <%= item.pickup_status %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <% }); %>
                                <% } %>

                                    <% if (user_type==='Charity' ) { %>
                                        <% data.forEach(function(item) { %>
                                            <a href="<%= item.pickup_status === 'Accepted' ? '/confirmslot/' + item._id : '#' %>"
                                                style="text-decoration: none;color:inherit;">
                                                <div
                                                    class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                                                    <div class="item-img">
                                                        <img src="/uploads/<%= item.image %>" alt="Item">
                                                    </div>
                                                    <div
                                                        class="item_name mx-2 text-center h-100 d-flex flex-column align-items-center justify-content-between">
                                                        <h5 class="mt-0">
                                                            <%= item.item_name %>
                                                        </h5>
                                                        <div class="item_name_text  mt-2">
                                                            <p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="item_donation_status text-center">
                                                        <h5>Donation Status</h5>
                                                        <div class="item_donation_status_text  mt-2">
                                                            <p>
                                                                <%= item.pickup_status %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <% }); %>
                                                <% } %>
                </div>
            </div>

            </div>
        </main>

        <script src="/js/app.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
            integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN'
            crossorigin='anonymous'></script>
</body>

</html>